#sentry-feedback {
  --actor-background: var(--chakra-colors-gray-200);
  --actor-hover-background: var(--chakra-colors-gray-300);
  --actor-color: var(--chakra-colors-black);
  --page-margin: 16px 120px;
}
@media (prefers-color-scheme: dark) {
  #sentry-feedback {
    --actor-background: var(--chakra-colors-gray-800);
    --actor-hover-background: var(--chakra-colors-gray-400);
    --actor-color: var(--chakra-colors-white);
    &:hover {
      --actor-color: var(--chakra-colors-black);
    }
  }
}
